<mat-toolbar color="primary">
  <span>Biblioteca</span>
  <span>
    <app-date></app-date>
    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-button>
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
  </span>
</mat-toolbar>

<div>
  <mat-grid-list [cols]="4" rowHeight="1:1">
    <mat-grid-tile [colspan]="2" [rowspan]="1" (click)="createLoan()">
      <mat-card class="dashboard-card card-finder-customers">
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-icon>add_circle</mat-icon>
          </div>
          <div>Nuevo Préstamo</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card card-finder-customers">
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-icon>collections_bookmark</mat-icon>
          </div>
          <div>Nuevo Libro</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
