<div>
  <mat-label>Introduzca un ISBN</mat-label>
  <app-search-by-book-isbn (add)="addBook($event)"></app-search-by-book-isbn>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ['isbn', 'title', 'author', 'actions] -->
    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> ISBN </th>
      <td mat-cell *matCellDef="let element"> {{element.book.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.book.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <button type="button" (click)="deleteBook(item)" mat-button mat-icon-button matSuffix>
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

