<mat-toolbar color="primary">
  <button mat-button routerLink="/home/adviser">
    <span>BiblioApp</span>
  </button>
  <div>
    <button (click)="login()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>person_outline</mat-icon>
      <span>Login</span>
    </button>
    <button (click)="intranet()" *ngIf="!isAuthenticated()" mat-button>
      <mat-icon>settings_system_daydream</mat-icon>
      <span>Intranet</span>
    </button>
    <button (click)="logout()" *ngIf="isAuthenticated()" mat-button>
      <span>{{username}}</span>
      <mat-icon>person_outline</mat-icon>
      <span>Logout</span>
    </button>
    <button *ngIf="isAuthenticated()" mat-button>
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<app-footer></app-footer>
