<mat-toolbar color="primary">
  <span>Intranet</span>
</mat-toolbar>

<div>
  <mat-card>
    <mat-card-title>Búsqueda de Libros</mat-card-title>
    <br/>
    <mat-card>
      <mat-card-content>
        <mat-label><strong>Filtros: </strong></mat-label>
        <mat-form-field>
          <mat-label>Palabra clave </mat-label>
          <input [(ngModel)]="bookSearchFilter.keyword" matInput>
        </mat-form-field>
        <mat-form-field>
          <!-- FIXME ESTO HAY QUE CAMBIAR POR SEARCHER QUE ME DEJE SELECCIONAR EL AUTOR QUE QUIERO-->
          <mat-label>Autor </mat-label>
          <input [(ngModel)]="bookSearchFilter.authorName" matInput>
        </mat-form-field>
        <button (click)="search()" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="resetSearch()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
    <br/>
    <div *ngIf="showBooksFound">
      <app-crud (read)="bookDetail($event)" [data]="books" [title]="titleTable"
                createAction="false" deleteAction="false" updateAction="false"
      ></app-crud>
    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
