<mat-toolbar color="primary">
  <span>Intranet</span>
</mat-toolbar>

<div class="filter-body">
  <mat-card>
    <div>
      <mat-card-title>Búsqueda de Libros</mat-card-title>
      <br/>
    </div>

    <mat-card-content>
      <div>
        <mat-label><strong>Filtros: </strong></mat-label>
        <br/><br/>
      </div>

      <mat-form-field>
        <mat-label>Palabra clave </mat-label>
        <input [(ngModel)]="bookSearchFilter.keyword" matInput>
      </mat-form-field>

      <app-search-by-author-fullname (add)="addAuthorFullName($event)"></app-search-by-author-fullname>

      <div align="end">
        <button (click)="search()" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button (click)="resetSearch()" mat-icon-button>
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
    <br/>
    <div *ngIf="showBooksFound">
      <app-crud (read)="bookDetail($event)" [data]="books" [title]="titleTable"
                createAction="false" deleteAction="false" updateAction="false">
      </app-crud>
    </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
